<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>SELL YOUR CAR AT LONNIE'S</h1>
    <div>
    <form action="/add" method="post">
      <label for="makemodel">The Make and Model of your car:</label>
      <input id="makemodel" name="makemodel" type="text" class="form-control">
      <label for="price">The Price you want for it:</label>
      <input id="price" name="price" type="text" class="form-control">
      <label for="mileage">How Many Miles:</label>
      <input id="mileage" name="mileage" type="text" class="form-control">
      <label for="message">A little something about your car:</label>
      <input id="message" name="message" type="text" class="form-control">
      <button type="submit">Sell Muh Cah!</button>
    </form>
    </div>
  </body>
</html>